body {
  background: white;
  height: auto;
}

header {
  height: 70px;
  margin: 20px;
  margin-top: -30px;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 2px;
  border-color: white;
}

.selectHunkDiv {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-bottom: 25px;
  float: left;
  display: block;
  overflow: auto;
}

.selectHunkUl {
  width: 100%;
  height: 100px;
  margin: auto;
  float: left;
  display: inline-flex;;
}

.welcome {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 15px;
}

.Selleck {
  background-image: url("../images/Player1_Tom.png");
}

.Arnie {
  background-image: url("../images/Arnie.png");
}

.Clooney {
  background-image: url("../images/Clooney.png");
}

.Hoff {
  background-image: url("../images/Player2_Hoff.png");
}

.Selleck, .Arnie, .Clooney, .Hoff {
  border: 1px solid white;
  background-size: cover;
}

.hunkButton, .imgHolder1, .imgHolder2 {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
}


h1 {
  height: 45px;
  /*background-color: gray;*/
  text-align: center;
  /*font-family: 'Barrio', cursive;*/
  font-size: 60px;
  color: #450caa;
  font-family: 'Monoton', cursive;
  padding-bottom: : 20px;
}

h2 {
  text-align: center;
  /*font-family: 'Pangolin', cursive;*/
  font-family: 'Barrio', cursive;
  /*font-family: 'Monoton', cursive;*/
  font-size: 30px;
  padding: 20px;
}

.button_drop {
  text-align: center;
  /*visibility: hidden;*/
}

.gameBoard {
  float: left;
  width: 70%;
}

.dropButton {
  padding: 22px;
  font: white;
  font-weight: bold;
  font-size: 30px;
  /*width: 60px;*/
  color: white;
  background-color: rgba(20, 122, 49, 0.35);
}


.leftSide, .rightSide {
  width: 15%;
  height: 800px;
  /*background-color: orange;*/
  font-size: 20px;
  color: white;
  float: left;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.squares {
  float: left;
  height, width: 56px;
}

.squares:.move-down {
    transform: translate(0,350px);
    -webkit-transform: translate(0,350px);
    -o-transform: translate(0,350px);
    -moz-transform: translate(0,350px);
}

main {
  /*max-width: 900px;*/
  height: 800px;
  margin: 0 auto;
  background-image: url("../images/beach.png");
  background-position: center;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  position: relative;
}

  .welcome-overlay {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    background-image: url("../images/beach.png");
    background-position: center;
    background-size: cover;
  }

/*check if this has correct properties for hiding until button clicked*/
  .instructions {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    height: 20px;
    visibility: visible;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 100%;
    /*background-image: url("../images/beach.png");*/
    background-position: center;
    background-size: cover;
  }

  #announceWinner {
    font-family: 'Barrio', cursive;
    font-size: 35px;
    color: white;
    text-align: center;
    height: 20px;
    visibility: hidden;
  }

ul {
  display: block;
  width: 506px;
  margin: 0px auto;
  border-spacing: 0px 0px;
  padding: 0;
}

li {
  display: inline;
  width: 60px;
  float: left;
  height: 60px;
  border: 1px solid white;
  /*text-align: center;*/
  padding: 3px;
  margin: 2px;
}

#player1Score, #player2Score {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 2px;
  border-bottom-width: thick;
  border-color: white;
  }

#playAgain, .play, .ok {
  display: block;
  height: 50px;
  color: white;
  background-color: #00ace6;
  font-family: 'Barrio', cursive;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}

#playAgain {
  visibility: hidden;
  display: block;
}
